@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'avant-g-book';
    src: url('@/assets/fonts/avant-g-book.ttf');
}

@font-face {
    font-family: 'avant-g-medium';
    src: url('@/assets/fonts/avant-g-medium.ttf');
}

@font-face {
    font-family: 'avant-garde-gothic-2-bold-1';
    src: url('@/assets/fonts/avant-garde-gothic-2-bold-1.otf');
}

.icon {
    font-family: 'Material Icons';
    user-select: none;
}

.raleway {
    font-family: 'Raleway', sans-serif;
    border: 1px solid red;
}
* {
    color: white;
}

.ag-book {
    font-family: 'avant-g-book';
}

.ag-medium {
    font-family: 'avant-g-medium';
}

.ag-bold {
    font-family: 'avant-garde-gothic-2-bold-1';
}