:root {

    --dark-blue: #01101c;


    /* page structure */

    --page-padding: 10px;
}

body {
    background-color: black;
}
* {
    /* user-select: none; */
}
a {
    cursor: pointer;
}

.pageMainBox {
    height: 100%;
}

/* make containers unclickable because they are stacked and make bars clickable again */
footer, nav, header {
    pointer-events: none;
}
.bar {
    pointer-events: all;
}
