:root {

    --dark-blue: #01101c;


    /* page structure */

    --page-padding: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
* {
    user-select: none;
}

.full_screen {
    padding: 10px;
}
.pageMainBox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    cursor: pointer;
}