:root {
    --bar-background-color: rgb(109, 69, 69);
    --bar-thickness: 40px;
}

.barContent {
    display: flex;
    align-items: center;
}

.bar.bar_left .barContent,
.bar.bar_right .barContent {
    flex-direction: column;
}

.barContent .tabBox {
    flex-grow: 1;
}


