.tabTitle {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.tabTitle.bar_left {
    writing-mode: sideways-lr;
}

.tabTitle.bar_right {
    writing-mode: sideways-rl;
}
.tabBox.bar_left,
.tabBox.bar_right {
    width: 100%;
}

.tabBox.bar_bottom {
    height: 100%;
}


